<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0%;
            padding: 0%;
            text-justify: auto;
            text-size-adjust: 18px;
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Sistemas de administracion de personas</h1>
    <div>
        Numero de personas: {{count}}
    </div>
</body>
</html>